@page
@model BestFilmsRazorPages.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="b1 ">
    <a asp-page="./Index" class="c2">Вернуться к списку фильмов</a>
</div>
<h1 class=" b1 b3">Добавление фильма</h1>

<div class="b1 b2">
    <div class="img ">
        <div class="b">
            <form asp-action="Create" asp-controller="Home" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <span>Название фильма</span><br />
                    <input asp-for="@Model.Film.Name" class="form-control" />
                    <span asp-validation-for="@Model.Film.Name" class="text-danger"></span>
                </div><br /><br />
                <div class="form-group">
                    <span>Жанр</span><br />
                    <input asp-for="@Model.Film.Genre" class="form-control" />
                    <span asp-validation-for="@Model.Film.Genre" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <span>Режиссёр</span><br />
                    <input asp-for="@Model.Film.Director" class="form-control" />
                    <span asp-validation-for="@Model.Film.Director" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <span>Год выхода фильма</span><br />
                    <input asp-for="@Model.Film.Year" class="form-control" />
                    <span asp-validation-for="@Model.Film.Year" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <span>Сюжет</span><br />
                    <textarea asp-for="@Model.Film.Story"></textarea>
                    <span asp-validation-for="@Model.Film.Story" class="text-danger"></span>
                </div><br />
                <span>Постер</span><br />
                <input type="file" name="Photo" />

                <div class="form-group">
                    <br /><br />
                    <input type="submit" value="Добавить фильм" class="btn btn-primary c2" />
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
