@page
@model BestFilmsRazorPages.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<p class="c2"> <a asp-page="./Create">добавить новый фильм</a></p>
<div>
    <div><h1 class="request card2">  10 лучших фильмов</h1></div><br />

    @foreach (var f in Model.Film)
    {
        <div class="container">
            <div class=" img i"><img src=@Url.Content(f.Photo) class="im"></img></div>
            <div class="c1">
                <div class="card1">@f.Name</div>
                <div>@f.Genre</div>
                <div class="c"> @f.Year</div>
                <div>Режиссёр:&nbsp;&nbsp;&nbsp; @f.Director</div>
                <div class="card">@f.Story</div>
            </div>
            <div class="c4">
                <p class="c2 c3"><a asp-page="./Details" asp-route-id="@f.Id">просмотр</a>

        </p>
                <p class="c2 c3"><a asp-page="./Edit" asp-route-id="@f.Id">редактировать</a></p>
                <p class="c2 c3"><a asp-page="./Delete" asp-route-id="@f.Id">удалить</a></p>
            </div>
        </div>
    }

</div>
